body
{
	background-color: yellow;
	background-image: url("bg.png");
	background-repeat-x;
	background-position: 0;
}

h1
{
	color: white;
	font-style: small-caps;
}

h3
{
	font-style: italic;
	color: white;
}

a
{
	color: white;
	font-style: italic; 
}

.aboutme
{
	font-size: 14pt;
}

.skills
{
	font-size: 14pt;
}

.socneat
{
	font-size: 14pt;
}

.feedback
{
	font-size: 14pt;
}
