body
{
	background-color: yellow;
	background-image: url("bg.png");
	background-repeat-x;
	background-position: center;
}

h1
{
	color: white;
	font-family: 'Oswald', sans-serif;
}

h3
{
	font-family: 'Oswald', sans-serif;
	color: white;
}

hr
{
	color: white;
}

a
{
	color: white;
	font-family: 'Oswald', sans-serif;
}

.aboutme
{
	font-size: 14pt;
}

.skills
{
	font-size: 14pt;
}

.socneat
{
	font-size: 14pt;
}

.feedback
{
	font-size: 14pt;
}
