body
{
	background-color: yellow;
	background-image: url("bg.png");
}


h3
{
	font-style: italic;
	color: white;
}

a
{
	color: white;
	font-style: italic; 
}

.aboutme
{
	font-size: 14pt;
}

.skills
{
	font-size: 14pt;
}
